{% extends "base.html" %}
{% block content %}
  <style type="text/css">
  /*
  * Base structure
  */
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
  padding-top: 50px;
  }
  /*
  * Global add-ons
  */
  .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  }
  /*
  * Top navigation
  * Hide default border to remove 1px line.
  */
  .navbar-fixed-top {
  border: 0;
  }
  /*
  * Sidebar
  */
  /* Hide for mobile, show later */
  .sidebar {
  display: none;
  }
  @media (min-width: 768px) {
  .sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  }
  }
  /* Sidebar navigation */
  .nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  }
  .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
  }
  /*
  * Main content
  */
  .main {
  padding: 20px;
  }
  @media (min-width: 768px) {
  .main {
  padding-right: 40px;
  padding-left: 40px;
  }
  }
  .main .page-header {
  margin-top: 10;
  }
  /*
  * Placeholder dashboard ideas
  */


  .flexigrid div.fbutton .reject {
    background: url(/static/css/images/close.png) no-repeat center left;
}
  .flexigrid div.fbutton .accept {
    background: url(/static/css/images/accept.png) no-repeat center left;
}
.flexigrid div.fbutton .delete {
    background: url(/static/css/images/close.png) no-repeat center left;
}
.flexigrid div.fbutton .check {
    background: url(/static/css/images/open.png) no-repeat center left;
}
  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href=""><span class="glyphicon glyphicon glyphicon-eye-open"></span> 素质分审核</a></li>
          <li><a href={{url_for('admins_search',admin_id=admin_id)}}><span class="glyphicon glyphicon glyphicon-search"></span> 素质分查询</a></li>
          <li><a href={{url_for('admins_publicity',admin_id=admin_id)}}><span class="glyphicon glyphicon-th-list"></span> 公示系统</a></li>
          <li><a href={{url_for('static',filename="学生综合素质考评办法（试行）.pdf")}}><span class="glyphicon glyphicon glyphicon-download-alt"></span> 评分标准</a></li>
          <li><a href={{url_for('management',admin_id=admin_id)}} ><span class="glyphicon glyphicon-cog"></span> 后台管理</a>



        </ul>
        <ul class="nav nav-sidebar">
          <li><a href={{url_for('helpteacher')}} target="_blank"><span class="glyphicon glyphicon-question-sign"></span> 帮助/通知</a>
          <li><a href={{url_for('logout')}}>退出</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header"><span class="glyphicon glyphicon glyphicon-eye-open"></span> 素质分审核</h1>
    <body >

            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-10">




                      <table class="flexme3" style="display: none"></table>





                  </div>
                </div>
              </div>
    </body>
  </div>
</div>
<script type= "text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">

  $(function () {
            $("#OnSearch").bind("click", function (){
               $.getJSON($SCRIPT_ROOT+"/_search",
                {
                  campID: $('input[name="campID"]').val(),
                },
                function(data){
                  alert(data)
                  $.each(data, function(index, database) {
                      $("ul").append("<li>" + database + "</li>");
                  });
                });
               return false
            });
        });

$(".flexme3").flexigrid({
                url : $SCRIPT_ROOT+"/_getreview",
                method: 'GET',
                dataType : 'json',
                usepager: true,
                page: 1, //初始化时停留的页面
                useRp: true, //use the results per page select box
                rpOptions: [10,20,50,100],
                rp: 20, //results per page,后端可以接收此数据用于计算
                pagestat: '显示 {from} 到 {to} 共计 {total} 条',
                pagetext: '页',
                outof: 'of',
                procmsg: '请等待数据正在加载中…',
                nomsg: '没有数据',
                onError: '查询出错请刷新',
                params: [{
                    name: 'opt2',
                    value: 3,
                  },
                  ],
                colModel : [
                {
                    display : 'uuid',
                    name : 'uuid',
                    width : 50,
                    sortable : false,
                    align : 'center',
                    hide : true
                    },{
                    display : '申请号',
                    name : 'id',
                    width : 50,
                    sortable : false,
                    hide: true,
                    align : 'center',
                    },

                    {
                    display : '申请人',
                    name : 'name',
                    width : 50,
                    sortable : true,
                    align : 'center'
                    },
                    {
                    display : '年级',
                    name : 'grade',
                    width : 60,
                    sortable : true,
                    align : 'center'
                    },
                    {
                    display : '所属类别',
                    name : 'catagory',
                    width : 60,
                    sortable : true,
                    align : 'center'
                    }, {
                        display : '加分项目',
                        name : 'item_name',
                        width : 180,
                        sortable : true,
                        align : 'center'
                    }, {
                        display : '分数',
                        name : 'add',
                        width : 50,
                        sortable : true,
                        align : 'center'
                    }, {
                        display : '获奖时间',
                        name : 'time',
                        width : 170,
                        sortable : false,
                        align : 'center',
                        hide : false
                    }, {
                        display : '申请时间',
                        name : 'applytime',
                        width : 160,
                        sortable : true,
                        align : 'center'
                },
                {
                        display : '证明',
                        name : 'certification',
                        width :50,
                        sortable : false,
                        align : 'center'
                },
                {
                        display : '备注',
                        name : 'note',
                        width : 200,
                        hide: true,
                        align : 'center'
                },
                ],
                buttons : [
                {
                        name : '通过',
                        bclass : 'accept',
                        onpress : Control
                    },
                    {
                        name : '拒绝',
                        bclass : 'delete',
                        onpress : Control
                    },
                    {
                        name : '查看证明',
                        bclass : 'check',
                        onpress : Control
                    },
                    {
                        name : '查看备注',
                        bclass : 'check',
                        onpress : Control
                    },
                    {
                        separator : true
                } ],
                searchitems : [ {
                    display : 'ISO',
                    name : 'iso'
                    }, {
                        display : 'Name',
                        name : 'add',
                        isdefault : true
                } ],
                sortname : "applytime",
                sortorder : "asc",

                title : false,
                showTableToggleBtn : false,
                width : 950,
                height : 500
            });
              function Control(com, grid) {
                      if (com == '拒绝'){
                          var con=confirm('拒绝选中的 ' + $('.trSelected', grid).length + ' 条申请?')
                          if (con) {
                            $.each($('.trSelected', grid),
                                    function(key, value){
                                      //alert(value.firstChild.innerText)
                                        $.get($SCRIPT_ROOT+"/_getreview",
                                          {
                                            reject: value.children[1].innerText,//id
                                            opt2: 0,//delete
                                          }
                                            , function(){
                                                // when ajax returns (callback), update the grid to refresh the data
                                                $(".flexme3").flexReload();
                                        });
                                });
                            }
                        }
                      else if (com == '通过')
                      {


                        var con=confirm('批准选中的 ' + $('.trSelected', grid).length + ' 条申请?')
                        if (con) {
                          $.each($('.trSelected', grid),
                                    function(key, value){//value:HTMLTableRowElement
                                        $.get($SCRIPT_ROOT+"/_getreview",
                                          {
                                            accept: value.children[1].innerText,//.children得到全部列元素
                                            opt2: 1,//accept
                                          }
                                            , function(){
                                                // when ajax returns (callback), update the grid to refresh the data
                                                $(".flexme3").flexReload();
                                        });
                                });
                            }
                      }
                      else if (com == "查看证明"){

                        var grid_count=$('.trSelected', grid).length

                          if (grid_count>1) {
                            alert("请选择单一条目")
                          }
                          else if (grid_count==0)
                          {
                            alert("未选中任何条目")
                          }
                          else{
                            $.each($('.trSelected', grid),function(key, value){
                              if(value.children[8].innerText=="无")
                              {
                                alert("没有上传图片");
                              }
                              else{
                                $.each($('.trSelected', grid),
                                function(key, value){
                                var uuid=value.firstChild.innerText
                                window.open("/uploads/"+uuid+".jpg")
                              });
                            }
                           });
                          }
                      }
                      else if (com == "查看备注"){

                        var grid_count=$('.trSelected', grid).length

                          if (grid_count>1) {
                            alert("请选择单一条目")
                          }
                          else if (grid_count==0)
                          {
                            alert("未选中任何条目")
                          }
                          else{
                            $.each($('.trSelected', grid),function(key, value){

                              alert("备注\n--------------\n"+value.children[10].innerText)

                           });
                          }
                      }
                }

</script>
{% endblock %}
