{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="/static/js/constom.js"></script>
  <style type="text/css">
  /*
  * Base structure
  */
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
  padding-top: 50px;
  }
  /*
  * Global add-ons
  */
  .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  }
  /*
  * Top navigation
  * Hide default border to remove 1px line.
  */
  .navbar-fixed-top {
  border: 0;
  }

  .sidebar {
  display: none;
  }
  @media (min-width: 768px) {
  .sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  }
  }
  /* Sidebar navigation */
  .nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  }
  .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
  }
  /*
  * Main content
  */
  .main {
  padding: 20px;
  }
  @media (min-width: 768px) {
  .main {
  padding-right: 40px;
  padding-left: 40px;
  }
  }
  .main .page-header {
  margin-top: 10;
  }
  /*
  * Placeholder dashboard ideas
  */
label.error {
background:  0px 0px; padding-left: 16px; padding-bottom: 2px; font-weight: bold; color: #EA5200;
}

  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href={{url_for('admins_review',admin_id=admin_id)}}><span class="glyphicon glyphicon glyphicon-eye-open"></span> 素质分审核</a></li>
          <li><a href={{url_for('admins_search',admin_id=admin_id)}}><span class="glyphicon glyphicon glyphicon-search"></span> 素质分查询</a></li>
          <li class="active"><a href={{url_for('admins_publicity',admin_id=admin_id)}}><span class="glyphicon glyphicon-th-list"></span> 公示系统</a></li>
          <li><a href={{url_for('static',filename="学生综合素质考评办法（试行）.pdf")}}><span class="glyphicon glyphicon glyphicon-download-alt"></span> 评分标准</a></li>
          <li><a href={{url_for('management',admin_id=admin_id)}} ><span class="glyphicon glyphicon-cog"></span> 后台管理</a>

        </ul>
        <ul class="nav nav-sidebar">

          <li><a href={{url_for('helpteacher')}} target="_blank"><span class="glyphicon glyphicon-question-sign"></span> 帮助/通知</a>

          <li><a href={{url_for('logout')}}>退出</a></li>
        </ul>
      </div>
    </div>
  </div>
 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <body>
      <h1 class="page-header"><span class="glyphicon glyphicon-th-list"></span> 素质分公示系统</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9" style="padding-left: 0px;">
<div class="table-responsive">
            <table class="table table-hover" id="exceltable">

            </table>
          </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon glyphicon-plus"></span> 创建新公示</h3>

              </div>
                    <div class="panel-body">

                  <form id="excelform" role="form">
                      <div class="form-group">
                        <label for="name">公示标题</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="奖学金素质分公示">
                      </div>
                      <div class="form-group">
                        <label for="gradelist">年级</label>
                        <select id="select_grade" name="select_grade" class="form-control"> </select>
                      </div>

                      <div class="form-group" >

                        <label for="datepicker1">时间区间</label>

                          <input type="text" name='datepicker1' id="datepicker1" class="form-control" placeholder="起">

                          <p  align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
                          <input type="text" name='datepicker2' id="datepicker2" class="form-control" placeholder="止">
                      </div>

                      <div class="form-group">
                          <label for="textarea">公示内容</label>
                               <textarea class="form-control" rows="2" id="textarea" placeholder="关于本次公示的补充说明或备注，可选"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="adminname" >创建者</label>
                        <input type="text" id="adminname" class="form-control" value={{adminname}} >
                      </div>
                      <div class="checkbox">
                        <label>
                          <input id="checkbox" name="check" type="checkbox" checked="checked"> 立即公示
                        </label>
                      </div>
                      <button id="createbtn" type="submit" class="btn btn-primary btn-block">创建</button>
                  </form>


                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </body>
  </div>
</div>



<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">



$(function(){
          //使用getJSON会导致每次都从浏览器缓存里面加载json，ajax就可以实现动态的修改json并加载了
          $.ajax({
                  type: "get",
                  url:'/static/grade.json',
                  cache: false,//必须为false，否则同样会从缓存中加载
                  dataType : "json",
                  success: function(data){

                      $("#select_grade").empty();
                      $.each(data.grade,function() {
                        $("#select_grade").append("<option value="+this+">" +  this + "</option>");
                      });
                   }
                 })
  });






  $(function () {
    $('#createbtn').bind('click', function () {

      if ($("#excelform").valid()) {
        var name=$("#name").val();
        var starttime=$("#datepicker1").val();
        var endtime=$("#datepicker2").val();
        var note=$("#textarea").val();//防止大规模数据？
        var ischecked=$('#checkbox').is(':checked');
        $.get($SCRIPT_ROOT+"/_makepublic",{
          act:"updateTotal"
        });
      $.post($SCRIPT_ROOT+"/_makepublic",
      {
          name:name,
          timestart:starttime,
          timeend:endtime,
          note:note,
          ischecked:ischecked,
          adminNAME:$("#adminname").val(),
          admin:{{user.campID}},
          grade:$("#select_grade option:selected").text(),
      },
      function(data){
        if (data=="true") {
          alert("提交成功")
          add_excel_list()
        }else{
          alert(data)
        }
      });

      }

       return false
    });
    return false
});



function del(obj) {
    con=confirm("删除该条公示，包括其对应的excel文件（如不希望删除excel文件，请点击“停止公示/正在公示”按钮）")
    if (con) {
      var tr = obj.parentNode.parentNode; //得到按钮[obj]的父元素[td]的父元素[tr]
    tr.parentNode.removeChild(tr); //从tr的父元素[tbody]移除tr
    $.get($SCRIPT_ROOT + "/_makepublic", {
      id:tr.children[0].innerText,
      Delete:'Delete'

    }, function(){

    });
    };
  }
function view(obj) {
    var tr = obj.parentNode.parentNode; //得到按钮[obj]的父元素[td]的父元素[tr]
     //从tr的父元素[tbody]移除tr
    $.get($SCRIPT_ROOT + "/_makepublic", {
      id:tr.children[0].innerText,
      View:"View"
    }, function(link){

      window.open(link)
    });

  }
function status(obj) {
    var tr = obj.parentNode.parentNode; //得到按钮[obj]的父元素[td]的父元素[tr]
    var status
    if ($(obj).attr("class")=='btn btn-success btn-xs') {
      //修改为停止公示
      status=0
      $(obj).attr("class",'btn btn-warning btn-xs')//提示obj.attr不是函数，是因为没加$()
      $(obj).attr("value",'停止公示')


    }
    else{
      status=1
      $(obj).attr("class",'btn btn-success btn-xs')
      $(obj).attr("value",'正在公示')

    }
    $.get($SCRIPT_ROOT + "/_makepublic",{
      id:tr.children[0].innerText,
      status:status,
      Changestatus:"Changestatus"
    },function(result){

      if (result=="1") {//str和json对象是可以回调的
        alert("修改成功:正在公示此条目")
      }
      else{
        alert("修改成功:停止公示此条目")
      };

    })
  }



$().ready(function() {


 $("#excelform").validate(
  {
    rules: {
          datepicker1: {
            required:true,
            dateISO:true
          },
          datepicker2:{
            required:true,
            dateISO:true
          },
          name: {
            required:true,
          },
          gradeinput:
          {
            required:true,
            right_format:true,
          },
        },

    wrapper: "p"

  });
});



InitTimepicker(true,"datepicker")
add_excel_list("teacher")


</script>

{% endblock %}
