<!DOCTYPE html>
<style type="text/css">

.footer-wrapper {
    margin: 2em auto;
    font-size: 14px;
    font-size: .875rem;
    font-style: italic;
    color: #555;
    text-align: center;
    *zoom: 1
}

</style>
<html lang="zh-cn">
    <meta charset="utf-8">
    <head>
        <!-- 使用Bootstrap 框架 -->
        <link rel="stylesheet" href={{url_for('static',filename="css/bootstrap.min.css")}} rel="stylesheet">
        <title>机械工程学院素质分管理系统</title>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <hr />
    {% include "footer.html" %}
</html>
