<!DOCTYPE html>

<html lang="zh-cn">
    <meta charset="utf-8">
    <head>
        <!-- 使用Bootstrap 框架 -->
        <link rel="stylesheet" href={{url_for('static',filename="css/bootstrap.min.css")}} rel="stylesheet">
        <title>机械工程学院素质分管理系统</title>
        <script src="/static/js/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="/static/js/form.js" type="text/javascript"></script>
    <script src="/static/js/formData.js" type="text/javascript"></script>

    <script type="text/javascript">
    var list=[
    {
        "name": "班级工作",
        "SubCategory": [
            {
                "name": "担任班长职务",
                "Role": ""
            },
            {
                "name": "担任党支部书记职务",
                "Role": ""
            },
            {
                "name": "担任其他班委(含副班长)、支委委员（含支部副书记、党小组长）职务",
                "Role": ""
            }
        ]
    },
    {
        "name": "院级社团",
        "SubCategory": [
            {
                "name": "担任院研究生会主席团职务",
                "Role": ""
            },
            {
                "name": "担任院研究生会部长职务",
                "Role": ""
            },
            {
                "name": "担任院研究生会干事职务",
                "Role": [
                    {
                        "name": "干事"
                    },
                    {
                        "name": "优秀干事"
                    }
                ]
            },
            {
                "name": "担任辅导员助理职务",
                "Role": ""
            },
            {
                "name": "助教助管",
                "Role": ""
            }
        ]
    },
    {
        "name": "校级社团",
        "SubCategory": [
            {
                "name": "担任校研究生会主席团职务",
                "Role": ""
            },
            {
                "name": "担任校研究生会部长职务",
                "Role": ""
            },
            {
                "name": "担任校研究生会副部长职务",
                "Role": ""
            },
            {
                "name": "担任校研究生会干事职务",
                "Role": [
                    {
                        "name": "干事"
                    },
                    {
                        "name": "优秀干事"
                    },
                    {
                        "name": "优秀个人"
                    }
                ]
            },
            {
                "name": "担任学校社团社长职务",
                "Role": ""
            },
            {
                "name": "担任学校社团部长职务",
                "Role": ""
            },
            {
                "name": "担任学校社团副部长职务",
                "Role": ""
            },
            {
                "name": "担任学校团委副部长",
                "Role": ""
            },
            {
                "name": "担任学校团委组长",
                "Role": ""
            }
        ]
    },
    {
        "name": "个人荣誉",
        "SubCategory": [
            {
                "name": "参加国际级活动并获得三等奖以上荣誉",
                "Role": ""
            },
            {
                "name": "参加国家级活动并获得三等奖以上荣誉",
                "Role": ""
            },
            {
                "name": "参加省级活动并获得三等奖以上荣誉",
                "Role": ""
            },
            {
                "name": "参加市级活动并获得三等奖以上荣誉",
                "Role": ""
            },
            {
                "name": "参加国家级活动并获得三等奖以上荣誉",
                "Role": ""
            },
            {
                "name": "参加省级活动并获得三等奖以上荣誉",
                "Role": ""
            }
        ]
    }
]

function init()
{
    var _Category=document.getElementById("Category");
    var _SubCategory=document.getElementById("SubCategory");
    var _Role=document.getElementById("Role");
    $("#Role").hide();
    $("#role_label").hide();
    for(var e in list)
    {
        var opt_1=new Option(list[e].name);
        _Category.add(opt_1);
    }
}



function toSubCategory(category){
    var _Category=document.getElementById("Category");
    var _SubCategory=document.getElementById("SubCategory");
    var _Role=document.getElementById("Role");
    _SubCategory.options.length=1;//清空
    _Role.options.length=1;//清空
    $("#Role").hide();
    $("#role_label").hide();
    for(var e in list)
    {
      if(list[e].name==category)
        {
            for( var p in list[e].SubCategory)
            {
                var opt_2=new Option(list[e].SubCategory[p].name);
                _SubCategory.add(opt_2);
            }
            break;
        }
    }
}


function toRole(subCategory)
{
    var _Category=document.getElementById("Category");
    var _SubCategory=document.getElementById("SubCategory");
    var _Role=document.getElementById("Role");
    _Role.options.length=1;
    $("#Role").hide();
    $("#role_label").hide();




    for(var e in list)
    {
        if(list[e].name==Category.value)
        {
            for( var p in list[e].SubCategory)
            {
                if(list[e].SubCategory[p].name==subCategory)
                {
                     if (subCategory=="担任院研究生会干事职务"||subCategory=="担任校研究生会干事职务")
                    {
                        $("#Role").show();
                        $("#role_label").show();
                        for(var cc in list[e].SubCategory[p].Role)
                        {
                            var opt_3=new Option(list[e].SubCategory[p].Role[cc].name,list[e].SubCategory[p].Role[cc].value);
                            _Role.add(opt_3);
                        }
                        return;
                    }
                }
            }
            break;

        }
    }



}
    </script>
    </head>
    <body>
        {% block content %}{% endblock %}
        {% include "navigator.html" %}
    </body>
</html>
