<!DOCTYPE html>

<html lang="zh-cn">
    <meta charset="utf-8">
    <head>

      <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 使用Bootstrap 框架 -->
        <!-- jquery included before bootstrap-->
    <script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href={{url_for('static',filename="css/bootstrap.min.css")}}>
    <script src={{url_for('static',filename="js/bootstrap.min.js")}}></script>


     <link href={{url_for('static',filename="css/jquery-ui.css")}} rel="stylesheet">


    <title>机械工程学院素质分管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/flexigrid.css" />
    <script type="text/javascript" src="/static/js/flexigrid.pack.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/validator/jquery.validate.js"></script>



    </head>
    <body>
        {% block content %}{% endblock %}
        {% include "navigator.html" %}
    </body>
    <!-- {% include "footer.html" %} -->

<!-- ugly hack to make FF use innertext -->
<script language="javascript">
function isIE(){ //ie?
   if (window.navigator.userAgent.toLowerCase().indexOf("msie")>=1)
    return true;
   else
    return false;
}

if(!isIE()){ //firefox innerText define innerText
   HTMLElement.prototype.__defineGetter__(     "innerText",
    function(){
     var anyString = "";
     var childS = this.childNodes;
     for(var i=0; i<childS.length; i++) {
      if(childS[i].nodeType==1)
       anyString += childS[i].tagName=="BR" ? '\n' : childS[i].textContent;
      else if(childS[i].nodeType==3)
       anyString += childS[i].nodeValue;
     }
     return anyString;
    }
   );
   HTMLElement.prototype.__defineSetter__(     "innerText",
    function(sText){
     this.textContent=sText;
    }
   );
}
</script>
</html>
