<style type="text/css">
.footer-wrapper {
margin: 2em auto;
font-size: 14px;
font-size: .875rem;
font-style: italic;
color: #555;
text-align: center;
*zoom: 1
}
</style>
<div class="push"></div>
    </div>
    <hr />
    <footer class="footer-wrapper">
      <div align="center">
        <p>Powered by: Flask and Bootstrap</p>
        <p>Contact information: <a href="mailto:someone@example.com">hanxiaomax@qq.com</a>.</p>
      </div>
      <script src="/static/js/bootstrap.min.js"></script>
</footer>
