<!DOCTYPE html>
<html lang="zh-cn">
  <head>
  <style type="text/css">
  * {
margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer,.push{
    background-color:#ccc;
    height: 155px;
}</style>
  </head>
  <body>
    <div class="wrapper">
      <p>Your content goes here.</p>
      <div class="push"></div>
    </div>
    <div class="footer">
      <p>Footer content</p>
    </div>
    <script src="/static/css/js/bootstrap.min.js"></script>
  </body>
</html>
