<html>
  <head>
    <link href="/static/uploadify/uploadify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/uploadify/jquery-1.7.min.js"></script>
    <!-- <script type="text/javascript" src="/static/uploadify/swfobject.js"></script> -->
    <script type="text/javascript" src="/static/uploadify/jquery.uploadify.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {
      $('#file_upload').uploadify({
        'swf': '/static/uploadify/uploadify.swf',
        'uploader': '/',

        'cancelImg': '/static/uploadify/upload-cancel.png',
        'auto': false,
        'multi': true,
      'queueSizeLimit': 10,
        'removeCompleted': false, // Could set to true, then list completed uploads onComplete
      'onSelect': function(event, ID, fileObj) {
            $('#upload_link').show();
        },
      'onAllComplete': function(event, data) {
            $('#upload_link').hide();
        }
      });
    });
    </script>
  </head>
  <body>
    <input id="file_upload" name="file_upload" type="file" />
    <a id="upload_link" href="javascript:$('#file_upload').uploadify('upload','*')" style="display:none">Upload Files</a>

  </body>
</html>
