{% extends "base.html" %}
{% block content %}

    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">申请素质分</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                {% if blogs | length %}
                    {% for blog in blogs %}
                        <p>{{ blog.body }}</p>
                        <p>{{ blog.timestamp.strftime("%a, %d %b %Y %H:%M:%S") }}</p>
                        <hr />
                    {% endfor %}
                {% else %}
                    <p style="color:blue;">the guy is so lazy.....</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
