{% extends "base.html" %}
{% block content %}
<link href="/static/uploadify/uploadify.css" type="text/css" rel="stylesheet" />
<style type="text/css">
  /*
  * Base structure
  */
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
  padding-top: 50px;
  }
  /*
  * Global add-ons
  */
  .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  }
  /*
  * Top navigation
  * Hide default border to remove 1px line.
  */
  .navbar-fixed-top {
  border: 0;
  }
  /*
  * Sidebar
  */
  /* Hide for mobile, show later */
  .sidebar {
  display: none;
  }
  @media (min-width: 768px) {
  .sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  }
  }
  /* Sidebar navigation */
  .nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  }
  .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
  }
  /*
  * Main content
  */
  .main {
  padding: 20px;
  }
  @media (min-width: 768px) {
  .main {
  padding-right: 40px;
  padding-left: 40px;
  }
  }
  .main .page-header {
  margin-top: 10;
  }
  /*
  * Placeholder dashboard ideas
  */
  .flexigrid div.fbutton .delete {
    background: url(/static/css/images/close.png) no-repeat center left;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    color: #3399FF;
    font-size: 20px;
  }
}
</style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href={{url_for('users',user_id=user_id)}}><span class="glyphicon glyphicon glyphicon-user"></span> 素质分申请</a></li>
           <li ><a href={{url_for('user_publicity',user_id=user_id)}}><span class="glyphicon glyphicon-th-list"></span> 公示系统</a></li>
          <li><a href={{url_for('changePassword',user_id=user_id)}}><span class="glyphicon glyphicon glyphicon glyphicon-wrench"></span> 修改密码</a></li>
          <li><a href={{url_for('static',filename="学生综合素质考评办法2013-9-4.doc")}}><span class="glyphicon glyphicon glyphicon-download-alt"></span> 下载</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href={{url_for('logout')}}>退出</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"><span class="glyphicon glyphicon glyphicon-heart"></span> 提交申请</h1>


      <form class="form-horizontal" method="POST" enctype="multipart/form-data">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                  <div class="control-group">
                      <label class="control-label">素质分类别</label>
                      <hr>
                      <div class="controls">
                        <!-- Multiple Radios -->
                        <label class="radio">
                          <input type="radio" value="班级工作" name="group" checked="checked">班级工作（此类累加不得超过40分）</label>
                        <label class="radio">
                          <input type="radio" value="院级社团" name="group">院级社团（此类累加不得超过35分）</label>
                        <label class="radio">
                          <input type="radio" value="校级社团" name="group">校级社团（此类累加不得超过35分）</label>
                        <label class="radio">
                          <input type="radio" value="个人荣誉" name="group">个人荣誉（此类累加不得超过50分）</label>
                        <label class="radio">
                          <input type="radio" value="集体荣誉" name="group">集体荣誉（此类累加不得超过50分）</label>
                        <label class="radio">
                          <input type="radio" value="集体活动" name="group">集体活动（此类累加不得超过30分）</label>
                        <label class="radio">
                          <input type="radio" value="其他" name="group">其他（累计不得超过15分）</label>
                        </div>
                      </div>
                    </div>
                  <div class="col-md-2"> </div>
                  <div class="col-md-6">
                    <div class="control-group">
                      <!-- Select Basic -->
                      <label class="control-label">加分项目</label>
                      <hr>
                      <div class="controls">
                        <select id="apply" class="input-xlarge" size="11">
                          <option value="担任班长">担任班长</option>
                          <option value="担任党支部书记">担任党支部书记</option>
                          <option value="担任其他班委">担任其他班委</option>
                        </select>
                      </div>

                       <p class="error" style="color:red;font-size:16px;">请至少选中一个加分项目</p>
                    </div>
                  </div>
                </div>
              </div>
              </form>
              <form class="form-horizontal" method="POST" enctype="multipart/form-data">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                      <div class="control-group">
                        <label class="control-label"> </label>
                        <div class="controls">
                          <label class="control-label">上传证明</label>
                          <hr>


                          <input id="file_upload" name="file_upload" type="file" />
                          <p style="font-size:10px;">小于2M且为jpg,jpeg,png格式
    <!-- <a id="upload_link" href="javascript:$('#file_upload').uploadifyUpload()" style="display:none;color:red;font-size:16px;">上传</a> -->
                        </div>
                      </div>
                      <div></div>
                      <div class="control-group">
                          <label class="control-label"> </label>
                              <div class="controls">
                                  <button id="submitbtn" class="btn btn-primary btn-lg">提交</button>
                              </div>
                      </div>
                  </div>

                  <div class="col-md-2 col-md-offset-2">
                  <div class="control-group">
                        <label class="control-label"> </label>
                        <div class="controls" id="timepickerdiv">
                          <label class="control-label" id='timepicker'>任职时间</label>
                          <hr>
                          <p>开始日期：<input type='text' class="form-control" id='datepicker1'/></p>
                          <p>结束日期：<input type='text' class="form-control" id='datepicker2'/></p>
                        </div>
                  </div>
                  </div>
                </div>
              </div>
              </form>


<h1 class="page-header"><span class="glyphicon glyphicon glyphicon-user"></span> 我的素质分<small id = "totalscore"></small></h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
<table class="flexme3" style="display: none"></table>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>



<script type= "text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>




<script type="text/javascript">

$( "#datepicker1" ).datepicker({
});
$( "#datepicker2" ).datepicker({
});


function generateUUID(){
    var d = new Date().getTime();
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
};
var UUID=generateUUID()
var pic="false"
 $(document).ready(function() {

      $('#file_upload').uploadify({
        'swf': '/static/uploadify/uploadify.swf',
        'uploader': $SCRIPT_ROOT+'/_uploader',
        'auto': true,
        'buttonText' : '浏览...',
        'fileObjName' : 'the_files',
        'fileTypeDesc' : 'Image Files',
        'fileTypeExts' : '*.jpeg; *.jpg; *.png',
        'fileSizeLimit' : '2048KB',
        'formData'      : {'UUID' : UUID},
        'multi': true,
        'queueSizeLimit': 5,
        'removeCompleted': false, // Could set to true, then list completed uploads onComplete
        'onSelect' : function(file) {
            var filename=file.name;

        },
      'onAllComplete': function(event, data) {
            $('#upload_link').hide();

        },
      'onUploadStart': function (file) {
      },
      'onUploadSuccess' : function(file, data, response) {
           pic="true"
        }
      });
    });


$(function(){
  $.get($SCRIPT_ROOT+"/_getMyScore",
    {
      campID:{{user.campID}},
    },function(data){
      $("#totalscore").html("总分："+data+"分");
    })

})

var setTime=function(){
  // alert($( "#datepicker1" ).val())
  // alert($( "#datepicker2" ).val())
  // alert($( "#datepicker" ).val())
  var start_time=$( "#datepicker1" ).val();
  var end_time=$( "#datepicker2" ).val();
  var point_time=$( "#datepicker" ).val();
    if (point_time!=undefined)
    {
      return point_time
    }
    else{
      var timeArray = $( "#datepicker1" ).val()+"至"+$( "#datepicker2" ).val()
      alert(timeArray)
      return timeArray
    };
 };



$(function () {
    $('.error').hide();
    $('#submitbtn').bind('click', function () {

      if ($("#apply option:selected").text()!="") {
          $.get($SCRIPT_ROOT+"/_sublimtApply",
          {
            catagory:$("input[name='group']:checked").val(),
            name:$("#apply option:selected").text(),
            campID:{{user.campID}},
            time:setTime(),
            UUID:UUID,
            pic:pic//是否上传了图片
          },
          function(){
            //var success_confirm=confirm("提交成功")
            alert("提交成功")
            window.location.reload()
            $('.error').hide();
            UUID=generateUUID()//提交成功后生成新的UUID
          });
        return false //Refresh whole page to make upload files disappear
      }
      else{
          $('.error').show();
          return false//不跳转
      }
    });

});



$(function(){
        $("input:radio").change(function(){
          var selectedvalue = $("input[name='group']:checked").val();
          //使用getJSON会导致每次都从浏览器缓存里面加载json，ajax就可以实现动态的修改json并加载了
          $.ajax({
                  type: "get",
                  url:'/static/select.json',
                  cache: false,//必须为false，否则同样会从缓存中加载
                  dataType : "json",
                  success: function(data){
                    $("#apply").empty();
                            $.each(data,function() {
                              if (this.catagory==selectedvalue)
                              {
                                $("#timepickerdiv").empty();
                                //根据素质分类别来生成时间栏
                                if (this.catagory=="个人荣誉"||this.catagory=="集体荣誉"||this.catagory=="集体活动"||this.catagory=="其他")
                                  {
                                        $("#timepickerdiv").append("<label class='control-label'  id='timepicker'>获奖时间</label><hr>");
                                        $("#timepickerdiv").append("<p>获奖日期：<input type='text' class='form-control' id='datepicker'/></p>");
                                        $( "#datepicker" ).datepicker({
                                        });

                                  }
                                  else{
                                        $("#timepickerdiv").append("<label class='control-label' id='timepicker'>任职时间</label><hr>");
                                        $("#timepickerdiv").append("<p>开始日期：<input type='text' class='form-control' id='datepicker1'/></p>");
                                        $("#timepickerdiv").append("<p>结束日期：<input type='text' class='form-control' id='datepicker2'/></p>");
                                        //放在这里才有效
                                        $( "#datepicker1" ).datepicker({
                                        });
                                        $( "#datepicker2" ).datepicker({
                                        });

                                  }
                                  $.each(this.subcatagory, function() {
                                  $("#apply").append("<option value="+this.name+">" +  this.name + "</option>");

                                  });
                              };
                   });
                 }
    });
  });
});

$(".flexme3").flexigrid({
                url :$SCRIPT_ROOT+"/_getMyScore",
                method: 'GET',//should be GET
                dataType : 'json',
                params: [{
                    name: 'campID',
                    value: {{user.campID}},
                  },{
                    name: 'opt',
                    value: 1,
                  },
                  ],
                colModel : [{
                    display : '申请号',
                    name : 'id',
                    width : 50,
                    sortable : false,
                    hide: false,
                    align : 'center'
                    }, {
                    display : '所属类别',
                    name : 'catagory',
                    width : 70,
                    sortable : false,
                    align : 'center'
                    }, {
                        display : '加分项目',
                        name : 'item_name',
                        width : 190,
                        sortable : true,
                        align : 'center'
                    }, {
                        display : '分数',
                        name : 'add',
                        width : 40,
                        sortable : true,
                        align : 'center'
                    }, {
                        display : '获奖时间',
                        name : 'time',
                        width : 100,
                        sortable : false,
                        align : 'center',
                    }, {
                        display : '申请时间',
                        name : 'applytime',
                        width : 190,
                        sortable : false,
                        align : 'center',
                    },

                {
                        display : '审核状态',
                        name : 'status',
                        width : 65,
                        sortable : true,
                        align : 'center'
                },
                {
                        display : '相关证明',
                        name : 'certification',
                        width : 65,
                        sortable : false,
                        align : 'center'
                },],
                buttons : [
                {
                        name : '删除',
                        bclass : 'delete',
                        onpress : Control
                    }, {
                        separator : true
                } ],
                searchitems : [ {
                    display : 'ISO',
                    name : 'iso'
                    }, {
                        display : 'Name',
                        name : 'name',
                        isdefault : true
                } ],
                sortname : "iso",
                sortorder : "asc",
                usepager : false,
                title : '我的素质分',
                useRp : true,
                rp : 15,
                showTableToggleBtn : false,
                width : 785,
                height : 200
            });

            function Control(com, grid) {

                var con=confirm('删除选中的 ' + $('.trSelected', grid).length + ' 条申请?')
                if (con) {
                  $.each($('.trSelected', grid),
                            function(key, value){
                              //alert(value.firstChild.innerText)//can not use by FF
                                $.get($SCRIPT_ROOT+"/_getMyScore",
                                  {
                                    Delete: value.firstChild.innerText,
                                    opt:0,
                                    campID:{{user.campID}}
                                  }
                                  , function(canDelete){
                                        if (canDelete=="No"){
                                            alert("无法删除已经审核的加分项，可联系管理员删除")
                                            $(".flexme3").flexReload();
                                             // location.reload();
                                          }
                                        else{
                                          $(".flexme3").flexReload();
                                        }
                                });
                        });
                    }
                };
$( "#datepicker1" ).datepicker({
});

$( "#datepicker2" ).datepicker({
});
</script>

<script type="text/javascript" src="/static/uploadify/jquery.uploadify.js"></script>


<!-- ugly hack to keep chrome form crashing when using uploadify -->
<script type="text/javascript">
        document.write("<script type='text/javascript' src='/static/uploadify/jquery.uploadify.min.js?" + new Date() + "'></s" + "cript>");
</script>


{% endblock %}
